{% extends 'base.html.twig' %}

{% block title %}Edit the license plate{% endblock %}

{% block body %}
    <h1>Edit the license plate</h1>

    {{ include('license_plate/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('license_plate/_delete_form.html.twig', {'button_label': 'Delete'}) }}
    <br>
    <button onclick="location.href='/license/plate'" type="button" class="btn btn-secondary">Back to my cars</button>
{% endblock %}
