{% extends 'base.html.twig' %}

{% block title %}I blocked somebody{% endblock %}

{% block body %}
    <h1>Report - I blocked somebody</h1>

    {{ include('activity/_form.html.twig') }}

{% endblock %}
