<h1>Hello!</h1>

<p>
    You blocked the user {{ blockee }} with the license plate {{ blockeeLicensePlate }}
    with your car with the license plate {{ blockerLicensePlate }}. Please move your car!
</p>