<h1>Hello!</h1>

<p>
    Your car with the license plate {{ reportedLicensePlate }} has blocked
    the car with the license plate {{ reporterLicensePlate }} of the user {{ reporter }}.
    Please check your car!
</p>